<!DOCTYPE html>
<html>
<head>
  <title>100+ Movies</title>
  <!--CDN for vue-->
  <script src="https://unpkg.com/vue"></script>
  <!--CDN for axios-->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <div id="app">
    {{ message }}
    <!--Header to display current movie title-->
    <h2 v-if="movieDetails.length>0">{{movieDetails.title}}</h2>
    <!--Display movie details-->
    <p v-if="movieDetails.length>0">
        <ul>
            <li v-for="(key, val) in movieDetails">{{key}} - {{val}}</li>
        </ul>
    </p>
    <br>
    <!--Header to recommend movies-->
    <h2>Movies to Recommend</h2>
    <button v-on:click="loadMovies">{{getDataButton}}</button>
    <ol>
        <li v-for="movie in movies"><a href="#" v-on:click="getDetails(movie.id)">{{movie.title}}</a> - {{movie.popularity}}</li>
    </ol>
  </div>

  <script src="app.js"></script>
</body>
</html>