<!DOCTYPE html>
<html>
<head>
  <!--Tab Name-->
  <title>100+ Movies</title>
  <!--CSS Styles-->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="css/styles.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <!--CDN for vue-->
  <script src="https://unpkg.com/vue"></script>
  <!--CDN for axios-->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!--CDN for vuetify-->
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <!--Code for viewport-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <!--Vue App itself-->
  <div id="app">
    <!--Top bar view-->
    <v-app-bar>
      <!--{{ message }} Status for debugging-->
      <!--Search Input Field--> 
      <v-text-field
        hide-details
        prepend-icon="mdi-magnify"
        single-line
        v-on:keyup="searchMovies"
        v-model="keyword"
      ></v-text-field>
      <!--Search Button-->
      <v-btn
              v-on:click="searchMovies"
              elevation="2"
              rounded
              color="dark"
      >Search</v-btn>
    </v-app-bar>
         
    <v-main>
      <v-container>
        <!--Align the contents in a row-->
        <v-row >
          <!--Left Column to display the movie details if any-->
          <v-col
            cols="12" sm="6"
          >
          <!--Card to contain the movie details-->
          <v-card
          color="red lighten-2"
          dark 
        >
          <!--Image of the card using the movie poster-->
          <v-img
          height="250"
          v-bind:src="'https://image.tmdb.org/t/p/w500/'+movieDetails.poster_path"
          ></v-img>
          <!--Title of the movie and year of release-->
          <v-card-title v-if="movieDetails" class="headline red lighten-3">
            {{movieDetails.title}} {{movieDate}}
          </v-card-title>

          <!--Display movie details-->
          <v-card-text v-if="movieDetails">    
              <!--Movie Tag Line-->
              <p v-if="movieDetails.tagline"><i>{{movieDetails.tagline}}</i></p>
              
              <p v-if="movieDetails.runtime">
                <!--Movie Ratings-->
              <v-progress-circular  v-if="movieScore"
                :value="movieScore"
                color="lime"
                :size="50"
                :width="10"
              >{{percentage}}</v-progress-circular>
              <!--Movie Run Time-->
                {{runtime}}</p>
              <!--Languages-->
              <v-chip
                v-if="movieDetails.spoken_languages"
                class="ma-2"
                v-for="language in movieDetails.spoken_languages"
              >
              {{language.name}}
              </v-chip>
              <!--Overview-->
              <p v-if="movieDetails.overview">{{movieDetails.overview}}</p>
              <!--Genres-->
              <v-chip
                v-if="movieDetails.genres"
                class="ma-2"
                v-for="genre in movieDetails.genres"
              >
                {{genre.name}}
              </v-chip>
            </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="1" sm="1"></v-col>
          <!--Right Column to display list of movies-->
          <v-col
            cols="6" sm="4"
          >
            <!--Header to recommend movies-->
            <h2>Movies to Recommend</h2>
            <!--Button to load the top 100 movies from the database-->
            <v-btn
              v-on:click="loadMovies"
              elevation="2"
              rounded
              color="dark"
            >
            {{getDataButton}}
            </v-btn>
            <!--For loop of the movies retrieved in an ordered list-->
            <ol>
                <li v-for="movie in movies"><a href="#" v-on:click="getDetails(movie.id)">{{movie.title}}</a> ({{movie.popularity}})</li>
            </ol>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </div>
  <script src="app.js"></script>
</body>
</html>